# ==========================================
# MERSAL BACKEND - ENVIRONMENT CONFIGURATION
# ==========================================

NODE_ENV=development

PORT=5000

MONGO_URI=mongodb://127.0.0.1:27017/mersal_db

JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET

JWT_EXPIRES_IN=7d

CORS_ORIGIN=*
